<div class="form-group panel-body" role="presentation">
    <!--add "flat" class above?-->
    <div>
        <br>
        <select data-dojo-attach-point="selectBand" data-dojo-attach-event="onchange: _changeBand" class="form-control">
            <option value="stable_lights">Stable Lights</option>
            <option value="pct_lights">Percent Lights</option>
            <option value="cf_cvg">Cloud-free Coverage</option>
            <option value="avg_vis">Average Visible</option>
            <option value="avg_lights_x_pct">Average Visible X Percent Lights</option>
        </select>
        <br>
        <select data-dojo-attach-point="selectYear" data-dojo-attach-event="onchange: _changeYear" class="form-control">
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
            <option value="2005">2005</option>
            <option value="2004">2004</option>
            <option value="2003">2003</option>
            <option value="2002">2002</option>
            <option value="2001">2001</option>
            <option value="2000">2000</option>
            <option value="1999">1999</option>
            <option value="1998">1998</option>
            <option value="1997">1997</option>
            <option value="1996">1996</option>
            <option value="1995">1995</option>
            <option value="1994">1994</option>
            <option value="1993">1993</option>
            <option value="1992">1992</option>
        </select>
        <br>
        <!--<div id="sliderOpacity" data-dojo-type="dijit.form.HorizontalSlider" name="slider" data-dojo-props="-->
        <!--minimum: 0,-->
        <!--maximum: 100,-->
        <!--slideDuration: 500" style="width:200px; height: 20px;">-->
        <!--</div>-->
    </div>
</div>